<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>库存管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/vue/2.5.8/vue.min.js"></script>

</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1></h1>
</div>
<nav class="navbar navbar-expand-md bg-light nav-light">
    <ul class="navbar-nav">
        <li class="nav-item active" type="button"><a href="emp.html" class="nav-link">员工信息</a></li>
        <li class="nav-item active" type="button"><a href="brand_medical.html" class="nav-link ">药品信息</a></li>
        <li class="nav-item" type="button"><a href="branch.html" class="nav-link ">分店信息</a></li>
        <!--<li class="nav-item" type="button"><a href="#" class="nav-link ">库存管理</a></li>-->
        <!-- Example single danger button -->
        <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            库存管理
        </button>
        <div class="dropdown-menu"  id="vueApp1" >

            <a  class="dropdown-item" href="#" v-for="(facility,index) in facilities">
                <button  @click="delRows">{{facility.bname}}</button>
            </a>
        </div>

    </div>
    </ul>
</nav>

<div class="container" id="vueApp">
    <div class="row mx-auto w-75" style="margin-top: 20px">
        <div class="col-12 text-center">
            <h3>库存管理表</h3>
        </div>
    </div>
    <div class="row mx-auto w-75" style="height: 15px"></div>
    <div class="row mx-auto w-75">
        <div class="col-6">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#myModal">新增</button>
            </div>
            <button type="button" class="btn btn-outline-warning btn-sm" @click="delRows">删除</button>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" class="form-control input-group-sm" placeholder="输入药品编号进行搜索" >
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @click="queryByMcodeOrMname"><i class="fa fa-search"></i></button>
                    </span>
            </div>
        </div>
    </div>

    <div class="row mx-auto w-75" style="height: 15px"></div>
    <div class="row mx-auto w-75">
        <div class="col-12">
            <table class="table table-hover table-success" >
                <thead class="thead-default">
                <tr>
                    <th><input type="checkbox"></th>
                    <th>序号</th>
                    <th>分店名</th>
                    <th>药品编号</th>
                    <th>药品名称</th>
                    <th>药品类型</th>
                    <th>药品库存</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(facility,index) in facilities">
                    <td><input type="checkbox" :value="index" v-model="checkedRows"></td>
                    <td>{{index+1}}</td>
                    <td contentEditable="false">{{facility.bname}}</td>
                    <td contentEditable="false">{{facility.mcode}}</td>
                    <td contentEditable="false">{{facility.mname}}</td>
                    <td contentEditable="false">{{facility.mtype}}</td>
                    <td contentEditable="false">{{facility.stock}}</td>
                    <td><button @click="update(index)" >编辑</button></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">新增药品信息</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">药品编号：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="药品编号" v-model="newRow.mcode">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">药品名称：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="药品名称" v-model="newRow.mname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">药品类型：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="药品类型" v-model="newRow.mtype">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">采购日期：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="采购日期" v-model="newRow.mbirth">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">进货单价：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="进货单价" v-model="newRow.mbuy">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">销售单价：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="销售单价" v-model="newRow.msell">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" @click="addRow">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框 -->
    <div class="modal fade" id="updateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">修改药品信息</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!--<div class="row">-->
                        <!--<div class="col-3">药品编号：</div>-->
                        <!--<div class="col-9">-->
                            <!--<input class="form-control" placeholder="药品编号" v-model="updateRow.mcode">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="row">
                        <div class="col-3">药品名称：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="药品名称" v-model="updateRow.mname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">药品类型：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="药品类型" v-model="updateRow.mtype">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">采购日期：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="采购日期" v-model="updateRow.mbirth">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">进货单价：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="进货单价" v-model="updateRow.mbuy">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">销售单价：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="销售单价" v-model="updateRow.msell">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" @click="saveRow">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    var datas =[];
    var datas2 =[];

    $.ajax({
        async:false,
        type:"GET",
        url:"/drugstock/queryall",
        success:function(result){
            datas = result;
        },
        error:function(xhr, textStatus, errorThrown){
            console.log("");
        }
    });

    $.ajax({
        async:false,
        type:"GET",
        url:"/drugstock/query",
        success:function(result){
            datas2 = result;
        },
        error:function(xhr, textStatus, errorThrown){
            console.log("");
        }
    });



    new Vue({
            el: "#vueApp1",
            data: {
                checkAll: false,
                checkedRows: [],
                facilities: datas2,
                newRow: {},
                updateRow: {},
                meunRow: {}
            },
            methods: {
                delRows: function () {
                    var medical = this.newRow;
                    var res = ajaxPost(medical, "/branch/querybname");
                    this.facilities.push(this.newRow);
                    this.newRow = {};
                }




            }
        }
    );

    new Vue({
        el: "#vueApp",
        data: {
            checkAll: false,
            checkedRows: [],
            facilities: datas,
            newRow:{},
            updateRow:{},
            meunRow:{}
        },
        methods: {
            addRow: function () {
                var medical = this.newRow;
                var res =ajaxPost(medical,"/medical/add");
                this.facilities.push(this.newRow);
                this.newRow = {};
            },
            // querymenuRow:function(){
            //     var branch = this.meunRow;
            //     var  res = ajaxPost(branch,"/branch/querybname");
            //     this.facilities.push(this.meunRow);
            //     this.meunRow = {};
            //
            // },

            queryByMcodeOrMname: function () {
                var medical = this.newRow;
                var res =ajaxPost(medical,"/medical/queryByMcodeOrMname");
                this.facilities.push(this.newRow);
                this.newRow = {};
            },

            saveRow:function () {//保存表格数据
/*                if (this.checkedRows.length <= 0){
                    alert("您未选择需要修改的数据");
                    return false;
                }
                if (!confirm("您确定要修改选择的数据吗？")){
                    return false;
                }*/
                var rData =this.updateRow;
                var res =ajaxPost(rData,"/medical/update");
                this.checkedRows = [];
                alert("修改成功");
            },

            //编辑
            update:function(index){
                this.updateRow = this.facilities[index];
                $('#updateModal').modal("show");

            },
            delRows:function () {
                if (this.checkedRows.length <= 0){
                    alert("您未选择需要删除的数据");
                    return false;
                }
                if (!confirm("您确定要删除选择的数据吗？")){
                    return false;
                }
                var rData =[this.checkedRows.length];
                for(var i=0;i<this.checkedRows.length;i++){
                    var checkedRowIndex = this.checkedRows[i];
                    rData[i]=this.facilities[checkedRowIndex];
                }
                var res = ajaxPost(rData,"/empinfo/delete")
                for(var i=0;i<this.checkedRows.length;i++){
                    var checkedRowIndex = this.checkedRows[i];
                    this.facilities = $.grep(this.facilities,function (facility,j) {
                        return j != checkedRowIndex;
                    });
                }
                this.checkedRows = [];
            }
        }

    });
    function ajaxPost(rData,rUrl) {
        var res;
        $.ajax({
            async:false,
            type:"Post",
            data: JSON.stringify(rData),
            contentType: 'application/json',
            url:rUrl,
            success:function(result){
                res = result;
            },
            error:function(xhr, textStatus, errorThrown){
                res= "请求失败";
            }
        });
        return res;
    }
</script>