<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>库存管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/vue/2.5.8/vue.min.js"></script>
    <style>
        body{
            background: darkseagreen;
        }

        .header {
            background-color: #8FBC8F;
            height: 30px;
            width: 100%;
            overflow: hidden;
        }

        .header, .dl-main-nav {
            background: #8FBC8F;
        }
        .welcome{
            margin-left: 1300px;
            font-size: 15px;
            color: white;
        }
        .dl-log-quit{
            font-size: 15px;
            color: white;
        }
        .navbar-nav{
            background: green;
        }

    </style>

</head>
<body>
<div class="header">

    <div class="dl-title">
    </div>

    <div class="dl-log"><span class="welcome">欢迎您，root</span>
        &nbsp;<a href="/chinapost/index.php?m=Public&amp;a=logout" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>

</div>

<nav class="navbar navbar-expand-md bg-light nav-light">
    <ul class="navbar-nav">
        <li class="nav-item active" type="button"><a href="emp.html" class="nav-link">员工管理</a></li>
        <li class="nav-item active" type="button"><a href="brand_medical.html" class="nav-link ">药品管理</a></li>
        <li class="nav-item" type="button"><a href="branch.html" class="nav-link ">分店管理</a></li>
       <!--<li class="nav-item" type="button"><a href="#" class="nav-link ">库存管理</a></li>-->
        <!-- Example single danger button -->
        <div class="btn-group">
        <button type="button" class="nav-item active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            库存管理
        </button>
        <div class="dropdown-menu"  id="branchApp" >

            <a  class="dropdown-item" href="#" v-for="(b,index) in branches">
                <button  @click="findRows(b)">{{b.bname}}</button>
            </a>
        </div>

    </div>
    </ul>
</nav>

<div class="container" id="vueApp">
    <div class="row mx-auto w-75" style="margin-top: 20px">
        <div class="col-12 text-center">
            <h3>库存管理表</h3>
        </div>
    </div>
    <div class="row mx-auto w-75" style="height: 15px"></div>
    <div class="row mx-auto w-75">
        <div class="col-6">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#sellModal">售出</button>
                <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#buyModal">购入</button>
                <button type="button" class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#calloutModal">调货</button>
                <!--<button type="button" class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#transferinModal">调入</button>-->
            </div>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" class="form-control input-group-sm" placeholder="输入药品编号进行搜索" >
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @click="queryByMcodeOrMname"><i class="fa fa-search"></i></button>
                    </span>
            </div>
        </div>
    </div>

    <div class="row mx-auto w-75" style="height: 15px"></div>
    <div class="row mx-auto w-75">
        <div class="col-12">
            <table class="table table-hover table-success" >
                <thead class="thead-default">
                <tr>
                    <th><input type="checkbox"></th>
                    <th>序号</th>
                    <th>分店编号</th>
                    <th>分店名</th>
                    <th>药品编号</th>
                    <th>药品名称</th>
                    <th>药品类型</th>
                    <th>药品库存</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(facility,index) in facilities">
                    <td><input type="checkbox" :value="index" v-model="checkedRows"></td>
                    <td>{{index+1}}</td>
                    <td contentEditable="false">{{facility.bid}}</td>
                    <td contentEditable="false">{{facility.bname}}</td>
                    <td contentEditable="false">{{facility.mcode}}</td>
                    <td contentEditable="false">{{facility.mname}}</td>
                    <td contentEditable="false">{{facility.mtype}}</td>
                    <td contentEditable="false">{{facility.stock}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <!-- 模态框 -->
    <div class="modal fade" id="sellModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">售出药品</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">分店编号：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="分店编号" v-model="newRow.bid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">药品编号：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="药品编号" v-model="newRow.mcode">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">数量：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="数量" v-model="newRow.stock">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" @click="sellRow">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="buyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">购入药品</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">分店编号：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="分店编号" v-model="buyRows.bid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">药品编号：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="药品编号" v-model="buyRows.mcode">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">数量：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="数量" v-model="buyRows.stock">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" @click="buyRow">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="calloutModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">调出药品</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">调出分店编号：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="调出分店编号" v-model="calloutRows.cid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">药品编号：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="药品编号" v-model="calloutRows.mcode">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">数量：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="数量" v-model="calloutRows.stock">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">调入分店名：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="调入分店名" v-model="calloutRows.tid">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" @click="calloutRow">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="transferinModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">调入药品</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">调出分店名：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="分店名" v-model="transferinRows.cid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">药品编号：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="药品编号" v-model="transferinRows.mcode">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">数量：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="数量" v-model="transferinRows.stock">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">调入分店名：</div>
                        <div class="col-9">
                            <input class="form-control" placeholder="数量" v-model="transferinRows.tid">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" @click="transferinRow">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    var datas =[];
    var branchArray =[];
    //显示所有库存
    $.ajax({
        async:false,
        type:"GET",
        url:"/drugstock/queryall",
        success:function(result){
                datas = result;

        },
        error:function(xhr, textStatus, errorThrown){
            console.log("");
        }
    });
    //显示分店名字
    $.ajax({
        async:false,
        type:"GET",
        url:"/branch/querybname",
        success:function(result){
            branchArray = result;
        },
        error:function(xhr, textStatus, errorThrown){
            console.log("");
        }
    });

    new Vue({
            el: "#branchApp",
            data: {
                checkAll: false,
                checkedRows: [],
                branches: branchArray,
                findRow: [],
                updateRow: {},
                meunRow: {}
            },
            methods: {
                findRows: function (b) {
                    tableUpdate(b);
                }

            }
        }
    );

    var tableVue =new Vue({
        el: "#vueApp",
        data: {
            checkAll: false,
            checkedRows: [],
            facilities: datas,
            branches: branchArray,
            newRow:{},
            buyRows:{},
            calloutRows:{},
            transferinRows:{},
            meunRow:{}
        },
        methods: {
            //售出
            sellRow: function () {
                var stock = this.newRow;
                var res =ajaxPost(stock,"/drugstock/sell");
                this.facilities.push(this.newRow);
                this.newRow = {};
            },
            //购进
            buyRow: function () {
                var stock = this.buyRows;
                alert("提交成功");
                var res =ajaxPost(stock,"/drugstock/buy");

                this.facilities.push(this.buyRows);
                this.buyRows = {};
                //$('#buyModal').modal("show");
            },
            //调货
            calloutRow: function () {
                var calloutstock = this.calloutRows;
                // alert("提交成功");
                var res =ajaxPost(calloutstock,"/drugstock/callout");

                this.facilities.push(this.calloutRows);
                this.calloutRows = {};
                //$('#buyModal').modal("show");
            },
            //调入
            transferinRow: function () {
                var transferinstock = this.buyRows;
                alert("提交成功");
                var res =ajaxPost(stock,"/drugstock/transferin");

                this.facilities.push(this.buyRows);
                this.buyRows = {};
                //$('#buyModal').modal("show");
            },
            // querymenuRow:function(){
            //     var branch = this.meunRow;
            //     var  res = ajaxPost(branch,"/branch/querybname");
            //     this.facilities.push(this.meunRow);
            //     this.meunRow = {};
            //
            // },

            queryByMcodeOrMname: function () {
                var medical = this.newRow;
                var res =ajaxPost(medical,"/medical/queryByMcodeOrMname");
                this.facilities.push(this.newRow);
                this.newRow = {};
            },

//             buyRow:function () {//保存表格数据
// /*                if (this.checkedRows.length <= 0){
//                     alert("您未选择需要修改的数据");
//                     return false;
//                 }
//                 if (!confirm("您确定要修改选择的数据吗？")){
//                     return false;
//                 }*/
//                 var rData =this.buyRow;
//                 var res =ajaxPost(rData,"/drugstock/buy");
//                 this.checkedRows = [];
//                 alert("修改成功");
//             },

            //编辑
            update:function(index){
                this.updateRow = this.facilities[index];
                $('#updateModal').modal("show");

            },
            delRows:function () {
                if (this.checkedRows.length <= 0){
                    alert("您未选择需要删除的数据");
                    return false;
                }
                if (!confirm("您确定要删除选择的数据吗？")){
                    return false;
                }
                var rData =[this.checkedRows.length];
                for(var i=0;i<this.checkedRows.length;i++){
                    var checkedRowIndex = this.checkedRows[i];
                    rData[i]=this.facilities[checkedRowIndex];
                }
                var res = ajaxPost(rData,"/empinfo/delete")
                for(var i=0;i<this.checkedRows.length;i++){
                    var checkedRowIndex = this.checkedRows[i];
                    this.facilities = $.grep(this.facilities,function (facility,j) {
                        return j != checkedRowIndex;
                    });
                }
                this.checkedRows = [];
            }
        }

    });
    function tableUpdate(branch) {

        var res = ajaxPost(branch, "/drugstock/query");

        tableVue.facilities= res;
    }
    function ajaxPost(rData,rUrl) {
        var res;
        $.ajax({
            async:false,
            type:"Post",
            data: JSON.stringify(rData),
            contentType: 'application/json',
            url:rUrl,
            success:function(result){
                res = result;
            },
            error:function(xhr, textStatus, errorThrown){
                res= "请求失败";
            }
        });
        return res;
    }
</script>